/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 20, 2021, 4:02:55 PM
    Author     : caitlyn
*/

.nav-list {
	border-bottom: solid 10px;
	margin: 0;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
	list-style-type: none;
	display: block;
}

.list-link {
	display: inline;
}

.list-link a {
	text-decoration: none;
	color: grey;
        padding: 2px;
	font-size: 14px;
}

body {
    	margin-top: 3%;
}